@import "bootstrap";

body {
  color: #444;
  text-align: justify;
}

pre {
  font-size: 12px;
  font-family: "Courier New", monospace;
}

hr {
  margin: 70px 0px;
}

p {
  line-height: 1.7;
}

h5 {
  font-size: 16px;
  font-weight: bold;
}

section#home-content {
  background-color: #2ecc71;
  color: #ffffff;
  text-align: center;
  padding: 30px 0px;
}

#home-content .row {
  padding: 0px 70px;
}

#home-content h1 {
  margin: 0px;
  font-size: 18px;
}

#home-content i {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 60px;
  color: #1AAB57;
}

#home-content p {
  padding: 10px 30px;
  font-size: 13px;
  line-height: 1.7;
}

#home-content a {
  color: #ffffff;
  text-decoration: none;
}

section#header {
  background-color: #3e4549;
  color: #DBDBDB;
  padding: 60px 0px;
}

#header code {
  background-color: #656A6D;
  border-radius: 3px;
  font-size: 11px;
  padding: 6px;
  color: #fff;
}

section#doc-content {
}

#doc-content h1 {
  margin-top: 90px;
  font-weight: bold;
}

#doc-content h2 {
  margin-top: 50px;
  padding-bottom: 10px;
  border-bottom: 1px #ddd solid;
}

#doc-content h3 {
  margin-top: 50px;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px #ddd solid;
}

#doc-content h4 {
  margin-top: 30px;
  padding-bottom: 10px;
}

#doc-content dl.dl-horizontal {
  font-size: 13px;
  padding-top: 10px;
}

#doc-content dd {
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.features {
  margin-top: 20px;
}

/*
dl.dl-vertical > dt::before {
  content: '·';
}
*/

.features dt {
  font-weight: normal;
  padding-right: 10px;
  width: 400px;
}

.features dt, dd {
  line-height: 1.8;
}

pre code.highlight {
  background-color: transparent;
}

@media (max-width: 992px) {
  #toc {
    display: none;
  }
}

dl.dl-vertical {
  /* Highlight the parameters with a slight border */
  margin-left: 24px;
  margin-right: 24px;
}

dl.dl-vertical > dt, .type {
  vertical-align: middle;
  font-family: "Courier New", monospace;
}

/* Make the type/constraints of objects stand out */
.type {
  font-weight: lighter;
  font-size: 10px;
  color: #888;
}

dt > .type {
  /* The type right of the parameter name needs to be pulled slightly away from
   * the name */
  padding-left: 10px;
  height: 100%;
}
