:root {
	--color-brand-white: #ffffff;
	--color-brand-black: #000000;

	/* color gray */
	--color-brand-gray-10: #f5f5f5;
	--color-brand-gray-20: #e0e0e0;
	--color-brand-gray-30: #c7c7c7;
	--color-brand-gray-40: #a8a8a8;
	--color-brand-gray-50: #8c8c8c;
	--color-brand-gray-60: #707070;
	--color-brand-gray-70: #525252;
	--color-brand-gray-80: #383838;
	--color-brand-gray-90: #262626;
	--color-brand-gray-100: #141414;

	/* color rasberry */
	--color-brand-rasberry-10: #fff3f6;
	--color-brand-rasberry-20: #ffdbe5;
	--color-brand-rasberry-30: #feb8cc;
	--color-brand-rasberry-40: #fd88a9;
	--color-brand-rasberry-50: #fd6490;
	--color-brand-rasberry-60: #fc1154;
	--color-brand-rasberry-70: #d30040;
	--color-brand-rasberry-80: #970a32;
	--color-brand-rasberry-90: #7e092a;
	--color-brand-rasberry-100: #320311;

	/* color blueberry */
	--color-brand-blueberry-10: #f4f8fd;
	--color-brand-blueberry-20: #dde9f9;
	--color-brand-blueberry-30: #bbd2f3;
	--color-brand-blueberry-40: #8db4eb;
	--color-brand-blueberry-50: #5f97e3;
	--color-brand-blueberry-60: #1b6ad7;
	--color-brand-blueberry-70: #1655ac;
	--color-brand-blueberry-80: #104081;
	--color-brand-blueberry-90: #0b2a56;
	--color-brand-blueberry-100: #05152b;

	/* color red */
	--color-brand-red-10: #fef1f1;
	--color-brand-red-20: #fbd5d5;
	--color-brand-red-30: #f6a2a2;
	--color-brand-red-40: #f06666;
	--color-brand-red-50: #eb3333;
	--color-brand-red-60: #e60000;
	--color-brand-red-70: #b80000;
	--color-brand-red-80: #8a0000;
	--color-brand-red-90: #5c0000;
	--color-brand-red-100: #2e0000;

	/* color orange */
	--color-brand-orange-10: #fbf1e6;
	--color-brand-orange-20: #f7e2cc;
	--color-brand-orange-30: #f0c699;
	--color-brand-orange-40: #e8a966;
	--color-brand-orange-50: #e18d33;
	--color-brand-orange-60: #d97000;
	--color-brand-orange-70: #ae5a00;
	--color-brand-orange-80: #824300;
	--color-brand-orange-90: #572d00;
	--color-brand-orange-100: #2b1600;

	/* color pea */
	--color-brand-pea-10: #f2fbf7;
	--color-brand-pea-20: #d9f2e7;
	--color-brand-pea-30: #b3e5d0;
	--color-brand-pea-40: #80d3b0;
	--color-brand-pea-50: #4dc291;
	--color-brand-pea-60: #00a862;
	--color-brand-pea-70: #00864e;
	--color-brand-pea-80: #00653b;
	--color-brand-pea-90: #004327;
	--color-brand-pea-100: #002214;

	/* brand plum color */
	--color-brand-plum-5: #f9f9fa;
	--color-brand-plum-10: #f1f1f3;
	--color-brand-plum-15: #e6e7ea;
	--color-brand-plum-20: #dbdce0;
	--color-brand-plum-25: #c8cad1;
	--color-brand-plum-30: #b6b8c2;
	--color-brand-plum-40: #9295a3;
	--color-brand-plum-50: #797e96;
	--color-brand-plum-60: #6d7184;
	--color-brand-plum-70: #555a72;
	--color-brand-plum-80: #3d425c;
	--color-brand-plum-90: #1a1e36;
	--color-brand-plum-100: #0c1332;

	/* brand aburgine color */
	--color-brand-aburgine-10: #f8f5fd;
	--color-brand-aburgine-20: #ebe0f9;
	--color-brand-aburgine-30: #d7c0f4;
	--color-brand-aburgine-40: #bb96ec;
	--color-brand-aburgine-50: #a16de4;
	--color-brand-aburgine-60: #782ed9;
	--color-brand-aburgine-70: #6025ae;
	--color-brand-aburgine-80: #481c82;
	--color-brand-aburgine-90: #301257;
	--color-brand-aburgine-100: #18092b;
}

@font-face {
	font-family: "Calibre";
	src: url("/fonts/CalibreWeb-Regular.eot");
	src: url("/fonts/CalibreWeb-Regular.eot?#iefix") format("embedded-opentype"),
		url("/fonts/CalibreWeb-Regular.woff2") format("woff2"),
		url("/fonts/CalibreWeb-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Calibre";
	src: url("/fonts/CalibreWeb-Semibold.eot");
	src: url("/fonts/CalibreWeb-Semibold.eot?#iefix") format("embedded-opentype"),
		url("/fonts/CalibreWeb-Semibold.woff2") format("woff2"),
		url("/fonts/CalibreWeb-Semibold.woff") format("woff");
	font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: "Circular";
	src: url("/fonts/lineto-circular-pro-medium.eot");
	src: url("/fonts/lineto-circular-pro-medium.eot?#iefix") format("embedded-opentype"),
		url("/fonts/lineto-circular-pro-medium.woff2") format("woff2"),
		url("/fonts/lineto-circular-pro-medium.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

body,
html {
	padding: 0;
	margin: 0;
	color: var(--color-brand-gray-100);
	font-family: "Calibre", sans-serif;
	background-color: var(--color-brand-white);
}

p {
	font-family: "Calibre", sans-serif;
	font-size: 15px;
	color: var(--color-brand-gray-100);
	letter-spacing: 0px;
	line-height: 22px;
}

#mockup {
	background-image: url('../img/mockup.png');
	width: 1440px;
	height: 1765px;
	position: absolute;
	top: 0;
	z-index: 99999;
	left: 50%;
	margin-left: -720px;
	background-size: cover;
	opacity: 0.3;
}

section#hero {
	height: auto;
	width: 100%;
	border-bottom: 1px solid var(--color-brand-plum-15);
}

section#hero .terminal {
	padding: 0;
	max-width: 540px;
	min-height: 380px;
	background-color: rgba(255, 255, 255, 0.04);
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
	width: 100%;
}

section#hero .terminal-topbar {
	padding: 6px 13px 5px 8px;
	background-color: var(--color-brand-plum-20);
	font-size: 0;
	line-height: 0;
	letter-spacing: 0;
}

section.get-started .merchant-content {
	width: 50%;
	padding-right: 140px;
	box-sizing: border-box;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 0;
}

section.get-started img {
	height: 75px;
	width: 75px;
	background-color: var(--color-brand-plum-10);
	border-radius: 14px;
	padding: 20px;
}

section.get-started .gateway-content {
	width: 50%;
	padding-left: 140px;
	border-left: 1px solid var(--color-brand-gray-20);
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 0;
}

.get-started .content {
	display: flex;
}

section#hero .terminal-topbar span {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 9999px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-right: 4px;
}

section#hero .terminal-topbar span:last-child {
	margin-right: 0;
}

section#hero .terminal-topbar .close-button {
	background-color: var(--color-brand-rasberry-60);
}

section#hero .terminal-topbar .minimize-button {
	background-color: var(--color-brand-orange-60);
}

section#hero .terminal-topbar .fullscreen-button {
	background-color: var(--color-brand-pea-60);
}

section#hero .terminal .terminal-content {
	padding: 5px 20px;
	white-space: normal;
	word-wrap: break-word;
	color: var(--color-brand-plum-40);
	line-height: 18px;
}

section#hero .terminal .terminal-content .typed-text {
	color: var(--color-brand-gray-100);
}

section#hero .terminal .terminal-content .typed-text .red-accent {
	color: var(--color-brand-rasberry-60);
}

header {
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom: 1px solid var(--color-brand-plum-15);
}

ol {
	padding-inline-start: 40px;
}

ul {
	list-style: inside;
	padding: 0;
	margin: 0;
}

ul li {
	padding: 0;
	margin: 0;
}

header nav {
	position: relative;
}

header .wrapper {
	display: flex;
	justify-content: space-between;
}

.wrapper {
	max-width: 1180px;
	margin: 0 auto;
	padding: 1px 20px;
	position: relative;
	display: block;
	box-sizing: border-box;
}

section#hero .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

section#hero .hero-background {
	padding-top: 80px;
	padding-bottom: 80px;
	background: linear-gradient(135deg,
			var(--color-brand-white) 0%,
			var(--color-brand-plum-5) 100%);
}

.menu-link.active {
	color: var(--color-brand-gray-100);
	font-family: "Circular", sans-serif;
	opacity: 1;
	cursor: default;
}

.menu-link.active:hover {
	font-family: "Circular", sans-serif;
	color: var(--color-brand-gray-100);
}

.menu-link {
	color: var(--color-brand-gray-60);
	text-decoration: none;
	font-family: "Circular", sans-serif;
	font-size: 15px;
	padding: 0 20px 0 20px;
	border-radius: 3px;
	position: relative;
	transition: 0.2s ease all;
	box-sizing: border-box;
	font-weight: 400;
}

.menu-link:hover {
	color: var(--color-brand-gray-100);
	opacity: 1;
}

h1.line {
	font-family: "Circular", sans-serif;
	font-size: 44px;
	color: var(--color-brand-gray-100);
}

h1 {
	font-family: "Circular", sans-serif;
	font-size: 64px;
	color: var(--color-brand-gray-100);
	font-weight: 500;
	margin: 9px 0 0 0;
	letter-spacing: -1px;
}

section#hero p {
	font-family: "Calibre", sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: var(--color-brand-gray-100);
	letter-spacing: 0.3px;
	line-height: 25px;
	margin: 32px 80px 24px 0;
}

.hero-content dl {
	display: flex;
	flex-direction: column;
	gap: 8px;
	font-weight: 300;
	font-size: 12px;
	color: var(--color-brand-gray-100);
	letter-spacing: 0.3px;
	line-height: 25px;
	margin: 8px 80px 32px 0;
}

.hero-content dt {
	font-size: 18px;
}

.hero-content dd:last-child {
	margin-bottom: 20px;
}

.hero-content dd {
	margin-right: 0;
	margin-left: 0px;
	padding-left: 10px;
	background-color: var(--color-brand-plum-10);
}

.button {
	border-radius: 3px;
	font-family: "Circular", sans-serif;
	font-size: 13px;
	font-weight: 500;
	color: var(--color-brand-white);
	letter-spacing: 0.4px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 14px 40px 12px 40px;
}

.button.get-started-button {
	padding: 13px 30px 11px 30px;
}

.green-button {
	font-weight: 600;
	color: var(--color-brand-white);
	background: var(--color-brand-rasberry-60);
	border-radius: 9999px;
	transition: 0.3s ease all;
}

.green-button:hover {
	background: var(--color-brand-rasberry-70);
	color: var(--color-brand-white);
}

.hero-content {
	width: 50%;
	margin-top: -20px;
}

section.bordered {
	width: 100%;
	position: relative;
}

section.bordered:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 40px;
	height: 100%;
}

section.bordered:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 100%;
}

.grey-background {
	background-color: var(--color-brand-gray-20);
	border: 1px solid var(--color-brand-gray-80);
}

.navy-background {
	background-image: linear-gradient(48deg,
			var(--color-brand-plum-40) 0%,
			var(--color-brand-plum-80) 100%);
	overflow: hidden;
}

.green-background {
	background-color: var(--color-brand-pea-90);
	overflow: hidden;
}

.blue-background {
	background-color: var(--color-brand-blueberry-80);
	overflow: hidden;
}

.blue-background:before,
.green-background:before,
.navy-background:before {
	content: "";
	position: absolute;
	left: -30%;
	top: -200%;
	height: 400%;
	width: 100%;
	animation: shade 10s infinite;
	animation-timing-function: cubic-bezier(0.405, 0.005, 0.355, 1.01);
	animation-play-state: paused;
}

.green-background.animated:before,
.blue-background.animated:before,
.navy-background.animated:before {
	animation-play-state: running;
}

.blue-background:before {
	background: -webkit-radial-gradient(center, ellipse cover, rgba(68, 165, 233, 1) 0%, rgba(3, 74, 125, 0) 50%);
}

.green-background:before {
	background: -webkit-radial-gradient(center, ellipse cover, rgba(85, 210, 170, 1) 0%, rgba(35, 114, 88, 0) 50%);
}

.navy-background:before {
	background: -webkit-radial-gradient(center, ellipse cover, rgba(68, 164, 233, 1) 0%, rgba(3, 74, 125, 0) 50%);
}

.green-background:after,
.blue-background:after,
.navy-background:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	z-index: 0;
	background-image: url("../img/pattern.svg");
	height: 170px;
	background-size: cover;
	width: 100%;
	margin-left: -50%;
	animation: movepattern 10s infinite;
	animation-timing-function: cubic-bezier(0.405, 0.005, 0.355, 1.010);
	animation-play-state: paused;
}

.green-background.animated:after,
.blue-background.animated:after,
.navy-background.animated:after {
	animation-play-state: running;
}

@keyframes shade {
	0% {
		left: -10%;
		top: -180%;
		height: 600%;
		width: 200%;
		opacity: 0.9;
	}

	25% {
		left: -120%;
		top: -220%;
		height: 900%;
		width: 300%;
		opacity: 0.6;
	}

	50% {
		left: -15%;
		top: -200%;
		height: 600%;
		width: 200%;
		opacity: 1;
	}

	75% {
		left: -200%;
		top: -400%;
		height: 800%;
		width: 400%;
		opacity: 0.4;
	}

	100% {
		left: -10%;
		top: -180%;
		height: 600%;
		width: 200%;
		opacity: 0.9;
	}
}

@keyframes movepattern {
	0% {
		transform: translate(0px, 0px) scale(1);
	}

	25% {
		transform: translate(20px, 20px) scale(1.05);
		opacity: 0.8;
	}

	50% {
		transform: translate(0px, 0px) scale(1);
		opacity: 0.8;
	}

	75% {
		transform: translate(-20px, 20px) scale(1.05);
		opacity: 0.8;
	}

	100% {
		transform: translate(0px) scale(1);
	}
}

section.get-started {
	background-color: var(--color-brand-white);
	position: relative;
	padding: 1px;
}

.get-started.small-section {
	border-radius: 3px;
	overflow: hidden;
	position: relative;
	margin: 80px 0;
	padding: 40px;
}

.get-started .content {
	width: 100%;
	border-radius: 3px;
	padding: 40px 0 130px 0;
	background-color: var(--color-brand-white);
	margin-top: 100px;
	box-sizing: border-box;
	position: relative;
	z-index: 100;
}

.get-started .content h3 {
	font-family: "Circular", sans-serif;
	font-size: 40px;
	font-weight: 500;
	color: var(--color-brand-gray-100);
	line-height: 46px;
	margin-top: 24px;
	font-weight: 500;
	margin-bottom: 0;
	letter-spacing: -1px;
}

.get-started .content ul li a {
	text-decoration: none;
	font-family: "Calibre", sans-serif;
	padding: 10px 40px 10px 0px;
	background-color: var(--color-brand-white);
	position: relative;
	border-radius: 3px;
	transition: 0.2s ease all;
	font-size: 15px;
	color: var(--color-brand-blueberry-60);
	letter-spacing: 0px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: block;
	line-height: 48px;
	padding-left: 0px;
	margin-right: 0;
}

.get-started .content .subtext {
	font-family: "Circular", sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: var(--color-brand-plum-40);
	letter-spacing: 0.27px;
	line-height: 10px;
	margin: 12px 0 40px 2px;
	display: block;
}

.get-started .content .content-body {
	height: 20px;
}

.get-started .content ul li:hover a {
	border-color: rgba(0, 0, 0, 0);
	background-color: var(--color-brand-plum-10);
}

.get-started .content ul li:active a {
	background-color: var(--color-brand-plum-10);
}

.get-started .content ul li a {
	padding-left: 20px;
}

.get-started .content ul li {
	display: block;
	box-sizing: border-box;
	border-bottom: 1px solid var(--color-brand-plum-10);
}

.get-started .content ul li a:before {
	content: "→";
	position: absolute;
	right: 16px;
}

.get-started .content ul li:last-child {
	margin-right: 0;
	padding-right: 0;
	border-right: none;
}

.get-started .content ul li:last-child a {
	border-right: none;
}

.get-started .content ul {
	display: block;
	margin-top: 57px;
}

.get-started .content-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 40px;
	border-bottom: 1px solid var(--color-brand-gray-20);
}

.back-to-top {
	text-align: center;
	widows: 100%;
	position: relative;
	color: var(--color-brand-gray-100);
	font-family: "Circular", sans-serif;
	font-size: 15px;
	font-weight: 500;
	line-height: 50px;
}

.footer-content {
	width: 100%;
	padding: 10px 0px;
	box-sizing: border-box;
	border-top: 1px solid var(--color-brand-plum-10);
}

.footer-content .back-to-site.button {
	text-transform: none;
	font-family: "Circular", sans-serif;
	font-size: 15px;
	color: var(--color-brand-gray-60);
	padding: 0;
	font-weight: 500;
	transition: 0.2s ease all;
}

.footer-content .back-to-site.button:hover {
	color: var(--color-brand-gray-100);
}

.alpha-button {
	background-color: rgba(255, 255, 255, 0.05);
}

.alpha-button:hover {
	background-color: rgba(255, 255, 255, 1);
}

.footer-content .wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-switch {
	display: flex;
	margin: 0;
	align-items: center;
	margin-top: -2px;
}

.footer-switch li a {
	font-family: "Circular", sans-serif;
	font-size: 13px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	letter-spacing: 0.3px;
	text-decoration: none;
	padding: 14px 36px 12px 36px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-left: none;
	transition: 0.2s all ease;
}

.footer-switch li a:hover {
	background-color: var(--color-brand-plum-40);
	border-color: var(--color-brand-plum-40);
	color: var(--color-brand-white);
}

.footer-switch li.active a {
	background-color: rgba(255, 255, 255, 0.1);
	border-color: var(--color-brand-plum-40);
	cursor: default;
	color: rgba(255, 255, 255, 0.5);
}

.footer-switch li:first-child a:hover {
	border-color: var(--color-brand-plum-40);
	border-left-color: var(--color-brand-plum-40);
}

.footer-switch li:first-child a {
	border-left: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 3px 0 0 3px;
}

.footer-switch li:last-child a {
	border-radius: 0 3px 3px 0;
}

.docs-feedback {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.docs-feedback span {
	font-family: "Calibre", sans-serif;
	font-size: 16px;
	color: var(--color-brand-white);
	letter-spacing: 0.18px;
	line-height: 26px;
	font-weight: 300;
}

.vote-button {
	padding: 12px;
	background-color: rgba(255, 255, 255, 0.05);
	background-repeat: none;
	display: flex;
	border-radius: 3px;
	align-items: center;
	justify-content: center;
	width: 20px;
	transition: 0.2s ease all;
	cursor: pointer;
}

.vote-button:hover {
	background-color: var(--color-brand-plum-60);
}

.vote-button.up {
	margin-left: 16px;
	margin-right: 8px;
}

.vote-button.down {
	transform: rotateZ(180deg);
}

.back-to-top-text {
	color: var(--color-brand-gray-60);
	z-index: 1;
	position: relative;
	margin-left: -30px;
	transition: 0.2s ease all;
	border-radius: 3px;
	cursor: pointer;
}

.back-to-top-text:hover {
	color: var(--color-brand-gray-100);
}

.back-to-top-text:active {
	color: var(--color-brand-gray-100);
}

a.node-info {
	display: block;
	text-decoration: none;
}

.back-to-top-text span {
	margin-left: 4px;
}

@media (max-width: 1180px) {
	section#hero>.wrapper {
		margin-top: 50px;
		flex-direction: column;
	}

	section#hero .hero-content h1 {
		font-size: 60px;
		text-align: center;
		line-height: 64px;
	}

	section#hero>.wrapper {
		padding-top: 0vh;
	}

	section#hero .hero-content p {
		font-size: 15px;
		margin-left: 0;
		margin-right: 0;
		margin-top: 16px;
		text-align: center;
		margin-bottom: 30px;
	}

	section#hero .hero-content h1.line {
		font-size: 39px;
		text-align: center;
	}

	section#hero .hero-content .button.get-started-button {
		display: inline-block;
	}

	section#hero .hero-content {
		text-align: center;
	}

	section.get-started:before,
	section.get-started:after {
		display: none;
	}
}

@media (max-width: 950px) {
	section.get-started .merchant-content {
		padding-right: 80px;
	}

	section.get-started .gateway-content {
		padding-left: 80px;
	}
}

@media (max-width: 800px) {
	.get-started .content {
		flex-direction: column;
		align-items: center;
		display: flex;
		margin-top: 30px;
		margin-bottom: 0px;
	}

	section#hero .hero-content {
		width: 90%;
	}

	.get-started .content>div.merchant-content {
		margin-bottom: 60px;
	}

	.get-started .content>div.gateway-content {
		margin-bottom: 0;
	}

	.get-started .content>div {
		width: 100%;
		padding: 0px;
		margin: 0;
		border: none;
		text-align: center;
	}
}

@media (max-width: 450px) {
	.footer-content .wrapper {
		flex-direction: column-reverse;
		align-items: center;
	}

	.footer-content .back-to-site.button {
		margin-bottom: 30px;
	}

	.get-started .content {
		padding-left: 30px;
		padding-bottom: 70px;
		padding-right: 30px;
	}

	.back-to-top {
		margin-right: -26px;
	}

	.home .menu-link.active {
		display: none;
	}

	.home .menu-link {
		padding: 10px;
	}
}
