div.docs section#hero:before {
	content: "";
	display: none;
}

div.docs section#hero header {
	background-color: #263345;
	position: relative;
	z-index: 100;
	padding: 0;
}

div.docs header nav {
	height: 100%;
}

div.docs header .wrapper {
	height: 90px;
	align-items: center;
}

div.docs header .wrapper nav {
	margin: 0;
	display: flex;
}

div.docs .menu-link {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	position: relative;
	padding-top: 23px;
}

div.docs .menu-link.active {
	height: 100%;
	border-radius: 0px;
}

div.docs #logo img {
	width: 161px;
	margin-top: 4px;
}

div.docs .menu-link.active:before {
	content: "";
	display: block;
	position: absolute;
	bottom: -1px;
	left: 0;
	height: 2px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.2);
}

div.docs section#hero {
	height: auto;
	padding-bottom: 0;
}

div.docs section.content .wrapper aside {
	border-top: none;
	border-bottom: none;
	flex-basis: 320px;
	flex-grow: 0;
	flex-shrink: 0;
	width: 320px;
	box-sizing: border-box;
	display: block;
	position: relative;
}

div.docs sup {
	margin: 10px;
	box-sizing: initial;
}

div.docs .api-navigation {
	box-sizing: border-box;
	padding: 20px;
	border-radius: 3px;
	margin-top: 60px;
	transition: 0.3s ease height;
	margin-bottom: 60px;
	width: 320px;
}

div.docs .api-navigation.parked {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
}

div.docs .api-navigation.afloat {
	position: fixed;
}

div.docs section.content {
	position: relative;
	background-color: #fff;
	box-sizing: border-box;
}

div.docs section.content .wrapper {
	position: relative;
	z-index: 100;
	background-color: #fff;
	display: flex;
	padding: 0;
	max-width: 1246px;
	height: 100%;
	align-items: stretch;
}

div.docs .parent-node a:hover {
	background-color: #F0F0F2;
	border-radius: 4px;
}

div.docs .parent-node a:hover .node-title:before {
	background-color: #F0F0F2;
}

div.docs section.content .wrapper aside .parent-node>.node-info .node-title {
	font-family: "Circular", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #2D2D2D;
	margin: 0;
}

.parent-node>ul {
	display: none;
}

.parent-node.opened>ul {
	display: block;
}

div.docs section.content .wrapper aside .child-node .node-title {
	font-family: "Circular", sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: #2D2D2D;
	line-height: 20px;
}

div.docs section.content .wrapper aside .node-lr {
	opacity: 0.66;
	font-family: "Circular", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #777;
	display: block;
	margin-top: 2px;
}

div.docs section.content .wrapper aside .parent-node>.node-info {
	padding: 16px 30px 16px 40px;
	position: relative;
	text-align: left;
	border: 1px solid rgba(0, 0, 0, 0);
}

div.docs section.content .wrapper aside .parent-node.active>.node-info:before {
	background-color: #fff;
}

div.docs section.content .wrapper aside .parent-node.active>.node-info {
	background-color: #4790DB;
	border-radius: 3px;
	color: #fff;
}

div.docs section.content .wrapper aside .parent-node.active>.node-info .node-title {
	color: #fff;
}

div.docs section.content .wrapper aside .parent-node.active>.node-info .node-lr {
	color: #fff;
}

div.docs section.content .wrapper aside .node.parent-node:first-child {}

div.docs section.content .wrapper aside .parent-node>.node-info:before {
	content: "";
	position: absolute;
	display: block;
	height: 8px;
	width: 8px;
	top: 20px;
	left: 20px;
	background-color: #F0F0F2;
	border-radius: 99px;
}

div.docs section.content .wrapper aside .parent-node.opened>.node-info {
	border: 1px solid #F0F0F2;
	border-radius: 3px;
}

div.docs section.content .wrapper aside .parent-node.opened.active>.node-info {
	border-color: rgba(0, 0, 0, 0);
}

div.docs section.content .wrapper aside .parent-node>ul {
	margin-left: 24px;
	padding-top: 10px;

}

div.docs section.content .wrapper aside .child-node {
	position: relative;
}

div.docs section.content .wrapper aside .child-node .node-info:before {
	content: "";
	position: absolute;
	display: block;
	height: 8px;
	width: 8px;
	top: 15px;
	left: 6px;
	background-color: #F0F0F2;
	border-radius: 99px;
}

div.docs section.content .wrapper aside .child-node ul {
	margin-left: 20px;
}

div.docs section.content .wrapper aside .child-node ul>*:first-child:after {
	content: "";
	position: absolute;
	height: 41px;
	width: 1px;
	display: block;
	top: -40px;
	left: 0px;
	background-color: #F0F0F2;
	z-index: 2;
}

div.docs section.content .wrapper aside .child-node .node-info {
	padding: 10px 10px 10px 27px;
	margin: 0px 0px 0px 10px;
	position: relative;
	z-index: 900;
}

div.docs section.content .wrapper aside .parent-node>ul>.child-node:before {
	top: -10px;
}

div.docs .child-node>.node-info {
	cursor: pointer;
	border-radius: 3px;
}

div.docs .child-node>.node-info:hover {
	background-color: #F0F0F2;
}

div.docs .child-node>.node-info:active {
	background-color: #e2e2e5;
}

div.docs .child-node.active>.node-info {
	background-color: #4790DB;
	color: #fff;
}

div.docs section.content .wrapper aside .child-node.active>.node-info .node-title {
	color: #fff;
}

div.docs section.content .wrapper aside .child-node.active>.node-info {
	z-index: 100;
	position: relative;
}

div.docs section.content .wrapper aside .child-node.active>.node-info .node-lr {
	color: #fff;
	opacity: 0.8;
}

div.docs section.content .wrapper aside .child-node:before {
	content: "";
	position: absolute;
	height: 100%;
	width: 1px;
	display: block;
	background-color: #F0F0F2;
}

div.docs section.content .wrapper aside ul>li.child-node:only-child>a .node-title:after {
	content: "";
	position: absolute;
	height: 12px;
	width: 1px;
	top: 3px;
	z-index: 10000;
	left: 10px;
	display: block;
	background-color: white;
}

div.docs section.content .wrapper aside ul>li.child-node:only-child>a:hover .node-title:after {
	background-color: #F0F0F2;
}

div.docs section.content .wrapper aside ul>li.child-node.active:only-child>a .node-title:after {
	background-color: #4790DB;
}

div.docs section.content .wrapper aside .child-node:last-child>.node-info .node-title:before {
	content: "";
	position: absolute;
	height: 41px;
	width: 1px;
	display: block;
	top: 19px;
	left: -10px;
	background-color: #fff;
	z-index: 2;
}


div.docs section.content .wrapper aside .child-node:last-child>ul:after {
	content: "";
	position: absolute;
	height: 100%;
	width: 1px;
	display: block;
	top: 20px;
	left: 0px;
	background-color: #fff;
	z-index: 2;
}

div.docs section.content .wrapper aside .child-node .node-info:after {
	content: "";
	position: absolute;
	height: 1px;
	width: 17px;
	display: block;
	top: 18px;
	left: -10px;
	background-color: #F0F0F2;
}

div.docs section.content .wrapper article {
	box-sizing: initial;
	padding-left: 80px;
	max-width: 820px;
	margin-bottom: 60px;
	width: 100%;
}

div.docs section.content .wrapper article.currencies {
	padding-left: 0;
	margin-left: auto;
	margin-right: auto;
}

div.docs article pre {
	margin-top: 10px !important;
	padding: 30px;
	overflow-x: scroll;
	background-color: #F0F0F2 !important;
	border-radius: 3px;
	font-size: 11px;
	overflow-x: hidden;
	word-break: break-all;
	word-wrap: break-word;
}

div.docs article pre code {
	white-space: pre-wrap;
}


div.docs.scrollpage section.content .wrapper .side-navigation {
	border: none;
	padding-right: 0;
	padding-top: 65px;
	padding-left: 0;
}

div.docs.scrollpage section.content .wrapper .side-navigation li a {
	display: block;
	border: 1px solid #F0F0F2;
	border-radius: 0px;
	border-top: none;
	font-size: 15px;
	text-decoration: none;
	padding: 14px 20px;
	color: #000;
}

div.docs.scrollpage section.content .wrapper .side-navigation li:first-child a {
	border-radius: 3px 3px 0 0;
	border-top: 1px solid #F0F0F2;
}

div.docs.scrollpage section.content .wrapper .side-navigation li a.active {
	background-color: #4790DB;
	color: #fff;
	border-color: #4790DB;
	font-weight: 800;
}

div.docs.scrollpage section.content .wrapper .side-navigation li:last-child a {
	border-radius: 0 0 3px 3px;
}

div.docs article h1 {
	font-size: 44px;
	font-weight: 500;
	color: #2D2D2D;
	margin-top: 54px;
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #F0F0F2;
	letter-spacing: -1px;
}

div.docs article h2 {

	font-size: 29px;
	color: #2D2D2D;
	margin-top: 58px;
	font-weight: 500;
	margin-bottom: 30px;
	margin-top: 70px;
	padding-bottom: 14px;
	border-bottom: 1px solid #F0F0F2;
	letter-spacing: -0.5px;
}

div.docs article li code {
	font-size: 14px;
}

div.docs article p code {
	padding: 3px 10px;
	background-color: #F0F0F2;
	margin: 0 3px;
	border-radius: 3px;
	font-size: 12px;
}

div.docs .horizontal-navigation {
	display: table;
	width: 100%;
	position: relative;
	justify-content: space-around;
	table-layout: fixed;
	margin-top: 40px;
}

div.docs .horizontal-navigation ul {
	display: table-row;
}

div.docs .horizontal-navigation ul li:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

div.docs .horizontal-navigation ul li:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-right: 1px solid #F0F0F2;
}

div.docs .horizontal-navigation ul li.active a {
	background-color: #4AB190;
}

div.docs .horizontal-navigation ul li a {
	width: 100%;
	height: 100%;
	padding: 15px 40px;
	font-weight: 400;
	display: block;
	box-sizing: border-box;
}

div.docs .horizontal-navigation ul li:hover {
	background-color: #F0F0F2;
}

div.docs .horizontal-navigation ul li {
	text-align: center;
	border: 1px solid #F0F0F2;
	border-right: none;
	display: table-cell;
}

div.docs ul li p {
	display: inline;
}

div.docs article a {
	text-decoration: none;
	color: #418FDE;
	letter-spacing: -0.15px;
	font-weight: 600;
	border-bottom-color: rgba(92, 142, 198, 0);
}

div.docs article a:hover {
	border-bottom: 1px solid rgba(92, 142, 198, 0.5);
}

div.docs article .link-rel {
	background-color: #4790DB;
	border-radius: 3px;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 1px;
}

div.docs article .link-rel-header {
	padding: 10px 20px;
}

div.docs article .link-rel-name {
	font-size: 22px;
	font-weight: 500;
	color: #FFFFFF;
	letter-spacing: -0.37px;
}

div.docs article .link-rel-label {
	opacity: 0.39;
	font-size: 11px;
	font-weight: 500;
	color: #FFFFFF;
	letter-spacing: 0.6px;
	margin-left: 10px;
}

div.docs article .link-rel-content {
	background-color: #fff;
	border-radius: 0 0 2px 2px;
	padding: 5px 20px 18px;
	box-sizing: border-box;
	overflow-x: auto;
}

div.docs article .link-rel-content h3:first-child {
	margin-top: 20px;
}

div.docs article .notes-block {
	margin: 10px 0px;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	font-size: 12px;
	line-height: 18px;
}

div.docs article .notes-block sup {
	position: relative;
	top: 3px;
	margin: 3px;
	font-weight: 800;
	display: block;
	line-height: 14px;
	padding: 0px;
	font-size: 9px;
	min-width: 13px;
	text-align: center;
	height: 14px;
	vertical-align: super;
	background-color: #4790DB;
	border-radius: 50%;
	color: #fff !important;
}

div.docs article .notes-block div {
	margin-left: 10px;
	margin-top: 5px;
	color: #777;
}

div.docs article sup {
	top: 3px;
	font-weight: 800;
	position: relative;
	display: inline-block;
	line-height: 12px;
	font-size: 8px;
	width: 11px;
	padding: 1px 1px 1px 1px;
	text-align: center;
	height: 12px;
	margin: -4px 5px 3px;
	vertical-align: middle;
	border: 1px solid #4790DB;
	border-radius: 50%;
	color: #4790DB !important
}

div.docs article .link-rel-content h3 {
	margin-top: 40px;
}


div.docs.scrollpage h4 {
	margin-top: 15px;
	padding-bottom: 10px;
	border-bottom: 1px #ddd solid;
}

div.docs article .link-rel-content p {
	font-size: 12px;
	line-height: 18px
}

div.docs .notes-block,
div.docs .notes-block li {
	font-size: 12px;
}

div.docs sup {
	color: red;
}

div.docs .notice {
	font-size: 15px;
	background-color: #fcf8e3;
	border: 1px solid #F9EFC7;
	padding: 30px;
	box-shadow: 0px 2px 0px #F9EFC7;
	border-radius: 3px;
	margin-top: 10px;
}

.bold {
	display: inline-flex;
	font-weight: bold;
}

div.docs .notice code {
	padding: 3px 10px;
	background-color: rgba(0, 0, 0, 0.08);
	margin: 0 3px;
	border-radius: 3px;
	font-size: 12px;
}

div.docs .notice p {
	margin: 0;
}

div.docs .warning {

	font-size: 15px;
	background-color: #f2dede;
	border: 1px solid #ebccd1;
	padding: 20px;
	box-shadow: 0px 2px 0px #ebccd1;
	border-radius: 3px;
}

div.docs code.highlight_text {
	padding: 0;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	display: inline-block;
}

div.docs .regex_optional code {
	padding: 0;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	display: inline-block;
}


div.docs dd p code,
div.docs dd ul li code,
div.docs div.notice p code,
div.docs.scrollpage h4 code,
div.docs.scrollpage article p code {
	padding: 0;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	display: inline-block;
}

div.docs div.highlight_text {
	padding: 0;
	color: #c7254e;
	background-color: #f9f2f4;
	border-radius: 4px;
	display: inline-block;
}

div.docs .warning code {
	padding: 3px 10px;
	background-color: rgba(0, 0, 0, 0.08);
	margin: 0 3px;
	border-radius: 3px;
	font-size: 12px;
}

div.docs.scrollpage dl dt {
	display: inline-flex;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: -10px;
}

div.docs.scrollpage dl dt p {
	margin-top: 0px;
	font-weight: 700;
}

div.docs.scrollpage dl dd {
	margin-left: 30px;
}

div.docs.scrollpage dl dd p {
	margin-top: 0;
}

.description_details_header {
	margin-bottom: -10px;
	margin-top: 15px;
}

div.docs span.regex {
	font-weight: lighter;
	font-size: 15px;
	color: #888;
	padding-left: 10px;
	height: 100%;
}

div.docs span.regex_optional {
	font-weight: lighter;
	font-size: 15px;
	color: #888;
	height: 100%;
}

div.docs article h3 {
	margin: 50px 0 20px 0;
	font-size: 25px;
	color: #2D2D2D;
	letter-spacing: -0.4px;
	line-height: 34px;
	font-weight: 400;
	border-bottom: 1px solid #F0F0F2;
	padding-bottom: 10px;
}

div.docs article h5 {
	margin: 20px 0 10px 0;
}

div.docs article h3 {
	position: relative;
	z-index: 1;
}

div.docs article h3:before {
	content: "";
	position: absolute;
	transition: 2s ease all;
	top: -20px;
	left: -40px;
	border-radius: 10px;
	width: 100%;
	padding: 10px 20px;
	height: 100%;
	display: block;
	background-color: rgba(255, 255, 0, 0);
	z-index: -1;
	transition: 0.225s ease-out background-color;
}

div.docs article h3.highlighted:before {
	background-color: rgba(255, 255, 0, 1);
}

div.docs article table {
	border-collapse: collapse;
	width: 100%;
	margin: 25px 0 20px 0;
}

body article p {
	font-size: 15px;
	color: #2D2D2D;
	letter-spacing: 0.3px;
	font-weight: 500;
	line-height: 1.85;
}

div.docs article li {
	font-size: 15px;
	color: #2D2D2D;
	letter-spacing: 0.3px;
	line-height: 1.95;
	font-weight: 500;
}

div.docs.scrollpage ul li {
	margin-left: 30px;
}

th {
	font-size: 12px;
	color: #2D2D2D;
	line-height: 20px;
	font-weight: 500;
	text-align: left;
	padding: 16px 12px 14px 20px;
	border: 1px solid #F0F0F2;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

tbody tr:nth-child(odd) {
	background-color: #F0F0F2;
}

td {
	text-align: left;
	padding: 10px 10px;
	font-weight: 500;
	border: 1px solid #F0F0F2;
	font-size: 14px;
	color: #555;

}

div.docs article span.code {
	padding: 6px 14px;
	background-color: #F0F0F2;
	width: 100%;
	border-radius: 3px;
}

div.docs article .code-block {
	background: #FBFBFB;
	border-radius: 2px;
	overflow-x: scroll;
	padding: 40px;
	margin: 30px 0;
	border: 1px solid #F0F0F2;
}


div.docs.scrollpage section.content .wrapper aside {
	border: none;
	padding-right: 0;
	position: absolute;
	right: 0;
	top: 0;
}

div.docs.scrollpage section.content .wrapper .side-bar {
	position: absolute;
	right: 30px;
	width: 320px;
}

div.docs.scrollpage section.content .wrapper aside ul li:hover {
	background-color: #F0F0F2;
}

div.docs.scrollpage section.content .wrapper aside ul li.active a {
	background-color: #4790DB;
	color: #FFF;
}

div.docs.scrollpage section.content .wrapper .scroll-bound {
	position: relative;
}

div.docs.scrollpage section.content .wrapper aside ul {
	display: block;
	margin-top: 10px;
	margin-bottom: 50px;
}

div.docs.scrollpage section.content .wrapper aside ul li a {
	font-size: 13px;
	text-decoration: none;
	letter-spacing: 0px;
	margin: 0px;
	display: block;
	width: 100%;
	padding: 10px 10px 10px 20px;
	box-sizing: border-box;
	border-radius: 3px;
	color: #959595;
}

div.docs.scrollpage section.content .wrapper aside ul li a.h2 {
	margin-left: 15px;
}

div.docs.scrollpage section.content .wrapper aside {
	height: auto;
	padding-top: 58px;
}

div.docs.scrollpage section.content .wrapper aside .content-title {
	font-family: "Circular", sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #959595;
	margin-left: 20px;
	text-transform: uppercase;
	letter-spacing: 0.3px;
}

div.docs.scrollpage section.content .wrapper article {
	padding-left: 0;
	width: 100%;
	padding-right: 350px;
	box-sizing: border-box;
	max-width: 100%;
}

div.docs.scrollpage section.content .wrapper {
	max-width: 1180px;
	box-sizing: border-box;
}

div.docs.scrollpage section.content:before {
	display: none;
}

div.docs.scrollpage section.content .wrapper {
	padding: 0 30px;
}

.mobile-navigation-content {
	display: none;
}

@media (max-width: 800px) {

	div.docs.scrollpage section.content .wrapper aside.onscreen {
		display: block;
	}

	div.docs.scrollpage section.content .wrapper aside {
		position: fixed !important;
		display: none;
		left: 0 !important;
		top: 0 !important;
		width: 100% !important;
		background-color: rgba(37, 56, 72, 1);
		z-index: 100000;
		overflow: scroll;
		height: 100vh;
		display: none;
		padding-top: 0;
		transition: 0.3s ease all;
		transform: scale(0.95);
		opacity: 0;
	}

	div.docs.scrollpage section.content .wrapper aside.active {
		opacity: 1;
		transform: scale(1);
	}

	div.docs.scrollpage section.content .wrapper article {
		padding-right: 0;
		margin-bottom: 80px;
	}

	div.docs.scrollpage section.content .wrapper {
		flex-direction: column-reverse;
	}

	div.docs.scrollpage section.content .wrapper .side-bar {
		width: 100%;
		box-sizing: border-box;
		left: 0;
		top: 0;
		right: 0;
		position: relative;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	div.docs.scrollpage section.content .wrapper {
		padding: 0 30px;
	}

	div.docs.scrollpage section.content .wrapper .side-navigation {
		padding-left: 0;
		padding-top: 30px;
		position: relative;
		top: 0;
		left: 0;
		box-sizing: border-box;
	}

	div.docs.scrollpage section.content .wrapper aside ul li a {
		font-size: 15px;
		padding: 16px 20px 16px 40px;
		font-weight: 200;
		letter-spacing: 0px;
		color: rgba(255, 255, 255, 0.7);
		font-weight: 500;
		transition: 0.2s ease all;
	}

	div.docs.scrollpage section.content .wrapper aside ul li:last-child {
		margin-bottom: 40px;
	}

	div.docs.scrollpage section.content .wrapper aside .content-title {
		width: 100%;
		text-align: center;
		max-width: 100%;
		padding: 20px 0 18px 0;
		color: #fff;
		background-color: #4790DB;
		margin: 0 0 0 0;
		display: block;
	}

	div.docs.scrollpage section.content .wrapper aside ul {
		padding: 0;
		margin: 0;
	}

	div.docs.scrollpage section.content .wrapper aside ul li.active a {
		border-radius: 0;
	}

	div.docs.scrollpage section.content .wrapper aside ul li.active a:hover {
		background-color: #fff;
		cursor: default;
	}

	div.docs.scrollpage section.content .wrapper aside ul li a:hover {
		background-color: #F0F0F2;
	}

	.mobile-navigation-content {
		display: block;
	}
}

@media (max-width: 450px) {
	.docs .menu-link.active {
		display: none;
	}

	div.docs .menu-link {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.mobile-navigation-content {
	position: fixed;
	z-index: 99999999;
	border: 0;
	height: 40px;
	cursor: pointer;
	width: 100%;
	background-color: rgba(37, 56, 72, 0.95);
	bottom: 0;
	transition: 0.2s ease background-color;
}

.mobile-navigation-content:hover {
	background-color: rgba(97, 96, 122, 0.95);
}

.mobile-navigation-content:active {
	background-color: rgba(0, 0, 0, 1);
}

.mobile-navigation-content li {
	position: absolute;
	left: 50%;
	text-align: center;
	transform: translateY(-50%) translateX(-50%);
	top: 50%;
	margin-top: 2px;
	display: none;
	padding: 1px;
}

.mobile-navigation-content li.active {
	display: flex;
	align-items: center;
}

.mobile-navigation-content li.active:after {
	content: "↕";
	color: #fff;
	font-weight: 100;
	font-size: 20px;
	display: block;
	margin: -1px 0 0 12px;
}

.mobile-navigation-content.sticky {
	position: absolute;
}

.mobile-navigation-content li a {
	color: #fff;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.7px;
	display: inline-block;
	text-decoration: none;
}


@media (max-width: 1246px) {
	div.docs section.content .wrapper aside {
		position: absolute;
		left: 30px;
	}

	div.docs section.content .wrapper article {
		width: 100%;
		box-sizing: border-box;
		padding-left: 380px;
		padding-right: 30px;
		max-width: 100%;
	}

	div.docs section.content .wrapper {
		min-height: 600px;
	}
}

.api-navigation-button {
	display: none;
	width: 100%;
	position: fixed;
	z-index: 100000;
	height: 40px;
	bottom: 0;
	background-color: #4790DB;
	cursor: pointer;
	overflow: hidden;
	transition: 0.2s ease all;
}

.api-navigation-button:hover {
	background-color: #349374;
}

.api-navigation-button span {
	color: #fff;
	text-transform: uppercase;
	font-family: "Circular", sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.7px;
	display: block;
	text-decoration: none;
	position: absolute;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	top: 50%;
	margin-bottom: -2px;
	transition: 0.4s ease all;
}

.api-navigation-button .close {
	transform: translateY(250%) translateX(-50%);
}

.api-navigation-button .open {
	transform: translateY(-50%) translateX(-50%);
}

.api-navigation-button.active .close {
	transform: translateY(-50%) translateX(-50%);
}

.api-navigation-button.active .open {
	transform: translateY(-250%) translateX(-50%);
}

div.docs section.content .wrapper aside.onscreen {
	display: block;
}


@media (max-width: 720px) {

	.api-navigation-button {
		display: block;
	}

	div.apipage section.content .wrapper aside {
		display: none;
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
		overflow: scroll;
		z-index: 10000 !important;
		position: fixed !important;
		background-color: #fff !important;
		opacity: 0;
		transform: translateY(100px);
		transition: 0.3s ease all;
	}

	div.docs section.content .wrapper aside.active {
		opacity: 1;
		transform: translateY(0);
	}

	div.docs section.content .wrapper article {
		padding-left: 20px;
	}

	div.docs section.content .wrapper aside .api-navigation {
		width: 100%;
		padding: 20px 20px 0px 20px;
		margin: 0;
	}

	div.docs section.content .wrapper aside .api-navigation>ul {
		padding-bottom: 60px;
	}

	td {
		padding: 10px 10px;
	}

	.apipage footer {
		padding-bottom: 40px;
	}
}

.side-bar ul {
	list-style: none;
}

.tabs {
	display: flex;
	flex-wrap: wrap;
	max-width: inherit;
}

.input {
	position: absolute;
	opacity: 0;
}

.label {
	padding: 10px 10px;
	background: #fff;
	cursor: pointer;
	font-size: 18px;
	transition: background 0.1s, color 0.1s;
	color: #2D2D2D;
}

.label:hover {
	background: #f0f0f2;
}

.input:focus+.label {
	z-index: 1;
}

.input:checked+.label {
	background: #f0f0f2;
	color: #000;
}

@media (min-width: 600px) {
	.label {
		width: auto;
	}
}

.panel {
	display: none;
	background: #fff;
	max-width: 820px;
}

@media (min-width: 600px) {
	.panel {
		order: 99;
	}
}

.input:checked+.label+.panel {
	display: block;
}
