<footer>
	<div class="footer-content">
		<div class="wrapper">
			<a href="https://www.clearhaus.com" class="back-to-site button alpha-button">Back to Clearhaus.com</a>
			<div class="back-to-top"><span class="back-to-top-text">Back to top <span class="top-arrow">↑</span></span>
			</div>
		</div>
	</div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{{ $typedJs := resources.Get "js/typed.js" | fingerprint }}
{{ $mainJs := resources.Get "js/main.js" | fingerprint }}
<script type="text/javascript" src="{{ $typedJs.Permalink }}"></script>
<script type="text/javascript" src="{{ $mainJs.Permalink }}"></script>
